@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --purple: #999BDB; 
  --green: #00D6C6;
  --dark-green: #00a99e;
  --pink: #FF618C;
  --blue: #00ABF8;
  --yellow: #FFAB00;
  --orange: #FF7358;
  --black: #000000;
  --grey: #BBBBBB;
  --light-grey: #EEEEEE;
}

body {
    font-family: "Luckiest Guy", cursive;
    margin: 0;
}

/*header*/
header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;
}

.home header .main-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 20px 15px;
    top: 0;
    height: 4rem;
    align-items: center;
    background-color: white;
}

.home header .main-header h1{
    background: linear-gradient(to right, var(--green), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
}

.home header .main-header nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    top: 0;
}

.home header .main-header nav ul{
    display: flex;
    list-style: none;
    gap: 0.5rem;
    margin: 0;
    overflow: hidden;
    padding: 10px;
}

.home header .main-header nav ul li {
    transition: .3s ease;
}

.home header .main-header nav ul li:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

/* .home header .main-header nav ul li:nth-child(1) a img {
    width: 40px;
} */

.home header .main-header nav ul li a {
    display: block;
    text-decoration: none;
}

.home header .main-header nav ul li a img {
    width: 55px;
    height: 55px;
}

/*divider*/

.home header .divider {
    height: 3rem;
    background-color: var(--purple); 
}

/*filter and items*/
.home .filter-item-container {
  display: flex;
  background-color: var(--light-grey);
  height: 78vh;
  flex-direction: row;
}

/*filter*/
.home .filter-item-container .filter-container {
    background-color: var(--pink);
    margin-top: 1rem;
    height: 60vh;
    width: 20vw;
    border-radius: 0 50px 50px 0;
    position: sticky;
    top: 9rem;
    font-family: Manjari, sans-serif;
    color: white;
    padding: 2.5rem;
}

.home .filter-item-container .filter-container h2 {
    font-size: 1.75rem;
}

.home .filter-item-container .filter-container form .form-group > input,
.home .filter-item-container .filter-container form .form-group > select {
    width: 100%;
}

.home .filter-item-container .filter-container form .form-group select.expand {
    padding: 5px;
    border-radius: 50px;
    background-color: white;
}

.home .filter-item-container .filter-container form .form-group select.expand:focus {
    outline: none;
    border-color: var(--pink);
    box-shadow: 0 0 5px var(--pink);
}

.home .filter-item-container .filter-container form .form-group option {
    border-radius: 50px;
    background-color: white;
}
.home .filter-item-container .filter-container form .form-group .price-range {
    display: flex;
    gap: 5px;
}

.home .filter-item-container .filter-container form .form-group{
    padding-bottom: 10px;
}

.home .filter-item-container .filter-container form .form-group .price-range input {
    width: 45%;
}

.home .filter-item-container .filter-container form .form-group input {
    border-radius: 50px;
    padding-left: 10px;
}

.home .filter-item-container .filter-container form .form-group button {
    background-color: #00D6C6;
    color: white;
    width: 6rem;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}

/*items*/
.home .filter-item-container .items-container {
  /* background-color: var(--grey); */
  height: 100%;
  width: 75vw;
  margin-left: 2rem;
  overflow-y: auto;
  padding: 20px;
}

.home .filter-item-container .items-container::-webkit-scrollbar {
  width: 10px;
}

.home .filter-item-container .items-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.home .filter-item-container .items-container::-webkit-scrollbar-thumb{
  background: #888;
}

.home .filter-item-container .items-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home .filter-item-container .items-container .items-list {
  display: grid;
  list-style: none;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  font-family: Manjari, sans-serif;
}

.home .filter-item-container .items-container .items-list li {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  vertical-align: top;
  width: 15rem;
  height: 20rem;
  margin: 0.5rem;
  border-radius: 50px;
  background-color: #ffffff;
  overflow: hidden;
}

/* registration */
.register .register-user-container {
  display: flex;
  background-color: var(--light-grey);
  height: 78vh;
  flex-direction: row;
}

.register-user-container .register-user {
  background-color: var(--pink);
  margin-top: 1rem;
  height: 70vh;
  width: 40vw;
  border-radius: 40px;
  position: sticky;
  top: 9rem;
  left: 70rem
  font-family: Manjari, sans-serif;
  color: white;
  padding: 2.5rem;
}

.register-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: var(--light-grey);
}

.register-user {
  background-color: var(--pink);
  border-radius: 20px;
  padding: 2.5rem;
  width: 40px;
  color: white;
  font-family: Manjari, sans-serif;
}

.register-user h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.register-user form .form-group input {
  width: 100%;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: none;
}

.register-user form .form-group input[type="submit"],.register-user form .form-group button {
  background-color: var(--green);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  width: 100%;
}

.register-user-container .register-user {
    font-size: 1.50rem;
}

/* item decoration */
.home .filter-item-container .items-container .items-list li .li-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

.home .filter-item-container .items-container .items-list li .li-content .feedback {
  display: flex;
  height: 2rem;
  gap: 0.5rem;
  justify-content: flex-end;
  margin: 10px 2rem 0 0;
}

.home .filter-item-container .items-container .items-list li .li-content .feedback .feedback-item{
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.home .filter-item-container .items-container .items-list li .li-content .feedback .feedback-item img {
  width: 1.5rem;
  height: 1.5rem;
}

.home .filter-item-container .items-container .items-list li .li-content .feedback .feedback-item span {
  margin-left: 0.2rem;
}

.home .filter-item-container .items-container .items-list li .li-content .feedback .feedback-item .comment-icon{
  scale: 1.3;
}

.home .filter-item-container .items-container .items-list li .li-content .main-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.home .filter-item-container .items-container .items-list li .li-content .main-img img {
  margin-bottom: 5rem;
  object-fit: cover;
}
  
.home .filter-item-container .items-container .items-list li .li-content .bubble-text {
  background-color: var(--purple);
  border-radius: 80% 80% 0 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding: 1.2rem 0.5rem;
  text-align: center;
  color: white;
}

/* add item */
.home .add {
  width: 7rem;
  position: absolute;
  right: 2rem;
  transform: translate(0%, -100%); 
  transform-origin: top right left bottom;
  transition: 0.3s;
}

.home .add:hover {
  transform: translate(0%, -100%) scale(1.1); /* Combine translate and scale */
  -webkit-transform: translate(0%, -100%) scale(1.1);
  -ms-transform: translate(0%, -100%) scale(1.1);
}

.home .add button {
  background: none;
  border: none;
}

/*footer*/
footer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  height: 20vh;
  flex-direction: row;
}

footer .logo {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

footer .logo img {
  width: 80px;
}

footer .logo h1 {
  background: linear-gradient(to right, var(--green), var(--purple));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}

footer .labels {
  display: flex;
  gap: 3rem;
  padding-right: 10px;
}
footer .labels .label {
  display: flex;
  flex-direction: column;
}

footer .labels .label a{
  font-family: Manjari, sans-serif;
  color: var(--blue);
  text-decoration: none;
}

footer .labels .label .icons {
  display: flex;
}

footer .labels .label .icons {
  width: 10rem;
}

.image-group {
    margin-bottom: 10px;
}

.image-preview {
    margin-top: 5px;
}

.remove-image {
    margin-left: 10px;
}


  /* for larger section */
.add_Popup_Form{
display: none;
position: fixed;
bottom: 25%;
right: 35%;
border: none;
z-index: 2000;
width: 30%;
height: 400px;
padding: 10px;
background-color: white;
border-radius: 50px;
font-family: Arial;
}

/* for form */
/* .text_section{
width: 45%;
} */

.add_Popup_Form div{
display: table-row;
padding-bottom: 20%;
width: 100%;
}

.add_Popup_Input {
display: table-cell;
width: 100%;
max-width: 100%;
padding-bottom: 2%;
height: 25px;
background-color:rgb(166, 0, 255);
border-radius: 50px;
border: none; 
color: white;

}

.add_Popup_Label {
display: table-cell;
width: 40%;
max-width: 40%;
color:rgb(166, 0, 255);
font-weight: light;
font-size: 10px;
font-family: Arial;
}

.add_Popup_Form h2{
color:rgb(0, 0, 0);
font-weight: 100;
font-size: 20px;
font-family: Arial;
}

.addToyButton{
background-color: rgba(0, 247, 255, 0.91);
}

.close_addPop{
background-color: rgba(255, 0, 174, 0.91);
}

.addToyButton, .close_addPop{
color: white;
align-self: center;
border-radius: 50px;
width: 200px;
border: none;
margin-top: 10px;
}

.input_division{
width:250px;
}
